html {
margin: 0; 
padding: 0;
border-top: #AAC5D0 solid 20px;
background: #fff url('http://i.stack.imgur.com/EL4Cz.png') repeat scroll left top;
animation-delay: 4s; /* W3C and Opera */
	-moz-animation-delay: 4s; /* Firefox */
	-webkit-animation-delay: 4s; /* Safari and Chrome */
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;}

h1, h2, h3, h4, h5 {
padding: 0; 
margin: 0;
text-decoration: none;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
}
		
	/*Description*/ 
	h5 {
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 14px;
	margin-top: 3px;
	color: #333;
	}
	

p { 
color:#333;
font-size: 14px; 
line-height: 21px;
font-weight: normal;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

a {
text-decoration: none;
color: #000;
padding: 0;
margin: 0;
cursor:pointer;
}
	
	p a { 
	color: #000;
	opacity: 1;
	}

	p a:hover { 
	opacity: .7;
	}

ul{
list-style-type: none;
padding: 0;
margin: 0;
text-align: center;
}

img {
border: none;
width: 115px;
height: 115px;
}

#content {
display: block;
margin-left: 50px;
position: absolute;
}

	#content a {
	color: #AAC5D0;} 


/*Header*/

#container {
padding-left: 10%;
width: 90%;
margin: 60px auto 0 auto;
}

#nametag {
position: relative; 
z-index: 1000;
margin: 50px 0 20px 50px;
width: 400px;
cursor: pointer;
-webkit-transition: .3s;
-moz-transition: .3s;
}

	#nametag:hover {
	-webkit-transform: translate(0,10px);
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	}
	
		#nametag img { 
		-webkit-transition: .3s;
		-moz-transition: .3s;
		float: left;
		margin-right: 20px; 
		cursor: pointer;
		box-shadow: 0px 0px 0 4px #AAC5D0;

		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		}
		
		#nametag img:hover { 
		transform:rotate(20deg);
		-ms-transform:rotate(20deg); /* IE 9 */
		-moz-transform:rotate(20deg); /* Firefox */
		-webkit-transform:rotate(20deg); /* Safari and Chrome */
		-o-transform:rotate(20deg); /* Opera */
		}

		h1 {
		color: #555;
		font-size: 28px;
		font-weight: normal;
		letter-spacing: 1px;
		padding-top: 30px;
		text-shadow: #bbb 1px 1px 6px;
		}
		
		#blurb {
		color: #333;
		font-size: 10px;
		text-transform: uppercase;
		margin-top: 1px;
		letter-spacing: 1px;
		}

#header {
height: 120px;
padding-top: 100px;
}

	h2 {
	font-size: 85px;
	line-height: 26px;
	letter-spacing: 0px;
	font-weight: 100;
	color: #333;
	text-shadow: #bbb 2px 2px 6px;
	}


#menu {
position: absolute;
left: 50%; 
top: 424px;
height: 300px;
margin-left: 420px;
z-index: 1000;
}

	h3 {
	font-size: 13px;
	font-weight: normal;
	padding-top: 10px;
	letter-spacing: 1px;
	}
	
	#menu li {
	color: #333;
	background: #AAC5D0;
	width: 135px;
	height: 33px;
	margin-bottom: 15px;
	display: block;
	-webkit-box-shadow: 1px 1px 4px #888;
	opacity: .8;
		-transition: .3s;
		-webkit-transition: .3s;
		-moz-transition: .3s;
	}

		#menu h3:hover {
		opacity: 1;
		}
		
		#menu li:hover {opacity: 1;}
		
	li#backtotop {
	color: #fff;
	display: none;
	width: 130px; 
	height: 33px;
	position: relative;
	}
	
	.back {
	font-size: 13px;
	padding-top: 10px;}
	
.clear {
height:50px;
width: 100%;
margin:0;
overflow:hidden;
clear: both;
}

/*Footer*/

#footer {
bottom:-50%;
position: absolute;
margin-left: -12%;
width: 101%;
height: 35%;
background: #AAC5D0;
text-align: center;
padding: 20px 0 0 0;
border-bottom: #404040 solid 8px;
border-top: #aaa solid 1px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
box-shadow: 0px 0px 20px #888;
}

#menu-wrapper { 
margin: 0 auto;
height: 200px; 
width: 1200px;
}

	h4 {
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 2px;
	color: #404040;
	text-shadow: #eee 1px 1px 4px;
	margin-bottom: 10px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	}

	.footermenus {
	width: 330px;
	float: left;
	text-align: left;
	}
	
	#more li, #music li, #inspiration li {
	display:block;
	text-transform: uppercase;
	width: 320px;
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	margin-left: 75px;
	}
	
		#more a, #music a, #inspiration a {
		padding-left: 2px;
		color: #444;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		}
		
		#more li a:hover, #music li a:hover, #inspiration li a:hover {
		padding-left: 10px;
		}

/*Resume*/

#resumepdf p {
float: left;
font-size: 24px;
text-transform: uppercase;
letter-spacing: 1px;
color: #AAC5D0;
padding-left: 60px;
font-weight: normal;
text-shadow: #666 0px 1px 1px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
#left {
clear: both;
float: left; 
width: 385px;
margin-right: 80px;
}
#left #mini {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	width:30px;
	margin-left: 50%;
} 
#right #mini {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	width:30px;
	margin-left: 30%;
}
#right {
width:400px;
display: block;
float: left;
}
#right #mini img, #left #mini img {
	height: 64px;
	width: 64px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
#right #mini p {
	margin-left: -38px;
}
#left #mini p {
	margin-left: -12px;
}
#contact #left,#contact #right {
	margin-top: 18%;
}
#right #mini img:hover, #left #mini img:hover{
	opacity: 0.2;
}
	.resume { 
	margin:40px 0 40px 0;
	}

	.company {
	color: #404040;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 1px;
	margin-bottom: 8px;
	}
	
		.location {
		font-size: 10px;
		text-transform: uppercase; 
		letter-spacing: 1px;
		color: #444;
		}
		
		.position { 
		font-style: italic;
		margin: 16px 0;
		}
		
		.detail { 
		font-size: 14px; 
		margin: 10px 0 38px 0;
		line-height: 20px;
		color: #444;
		}
	
	.award {
	color: #404040;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 21px;
	letter-spacing: 1px;
	margin-bottom: 7px;
	}
		
		.detail2 {
		font-size: 14px;
		margin: 0 0 20px 0;
		color: #444;
		}
		
		.skills { 
		font-size: 13px;
		margin-top: -10px;
		color: #444;
		}

.panel{
	position: absolute;
	opacity: 0;
	height:0%;
	padding-top: 400px;
	overflow: hidden;
	z-index:3;
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: .6s ease-in-out;
}
.panel:target{
	padding-top: 0px;
	opacity: 1;
	height:100%;	
}

#about:target ~ #header #menu #link-about,
#home:target ~ #header #menu #link-home,
#projects:target ~ #header #menu #link-projects,
#contact:target ~ #header #menu #link-contact{
	background: #000;
	color: #fff;
}

.face img {
	box-shadow: 0px 0px 0 8px #AAC5D0;
	background: rgba(0,255,255, 0.5);  
	width: 400px;
	height: 400px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.8s;
-moz-animation-delay:1.8s;
animation-delay: 1.8s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.1s;
-moz-animation-delay: 2.1s;
animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
 
.fade-out {
    opacity:1;  /* make things invisible upon start */
    -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeOut ease-in 1;
    animation:fadeOut ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    animation-duration:3s;
}
 
.fade-out.one {
-webkit-animation-delay: 2.8s;
-moz-animation-delay: 2.8s;
animation-delay: 2.8s;
}
 
.box{
}

.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    font-size:1em;
    padding:0.5em;
    position:absolute;
    right:10px;
    bottom:10px;
    left:10px;
    text-align:right;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
}

#placehold{
	float:left;
	margin-top: 20%;
	width:100%;
}