/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;	
}

/*-----------------------------------*\
	$GENERAL
\*-----------------------------------*/

html {
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    height: 100%;
}

body {
	background: url("../img/test.png"), url("../img/an.gif");
	background-repeat: no-repeat, repeat-y;
	background-position: center, 52% 33%;
	background-size: 100% auto,20%;
	height: 100%;
}

footer {
	color: #ffffff;
	opacity:0.2;
	position:absolute;
	bottom:0px;
	margin-left:2%;
	margin-bottom: 4px;
	font-size: 10px;
}

footer:hover {
	text-shadow: 0px 0px 8px #fff;
}

/*-----------------------------------*\
	$ACCORDION
\*-----------------------------------*/

.wrapper{
	width:90%;
	max-width:800px;
	margin-left: 4%;
}
.st-accordion{
    padding: 0px;
    width: 10px;
}
.st-accordion li{
	width:200px;
    font-size: 40px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.st-accordion li a{
    color: transparent;
    display: block;
    text-shadow: 0px 0px 6px #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.st-accordion li a:hover{
    color: #fff;
    text-shadow: 0px 0px 1px #fff;
    padding-left: 10px;
}

.st-accordion ul li{
	height:auto;
    overflow: hidden;
}
.st-accordion ul li > a{
	width: 400px;
    text-shadow: 1px 1px 1px #fff;
    font-size: 16px;
    display: block;
	position: relative;
    line-height: 100px;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	visibility:hidden;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: 26px;
	margin-top: -7px;
	opacity:1;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li.st-open > a{
    color: #ffffff;
}
.st-content{
	font-style: normal;
    padding: 6px 0px 30px 0px;
    margin-left: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin-bottom: -20px;
}
.st-content p{
	/* background-color:rgba(100,100,100,0.2); */
	font-style: italic;
	text-shadow: 1px 1px 8px #000;
    font-size:  19px;
    line-height:  28px;
    color:#ffffff;
    padding-left: 12px;
    padding-bottom: 4px;
    margin-top: -4px;
}
.resume img{
	height: 75%;
	opacity: 0.6;
    margin-left: 60%;
    margin-right: auto;
    margin-top: -400px;	
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.resume img:hover{
	-moz-box-shadow: 0 0 20px #fff;
	-webkit-box-shadow: 0 0 20px #fff;
	box-shadow: 0 0 20px #fff;
	opacity: 1;
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-o-transform:scale(1.3);
	-webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
	-moz-transition:    all 600ms cubic-bezier(1, 0, 0, 1);
	-ms-transition:     all 600ms cubic-bezier(1, 0, 0, 1);
	-o-transition:      all 600ms cubic-bezier(1, 0, 0, 1);
	transition:         all 600ms cubic-bezier(1, 0, 0, 1);
}
.bottomlink a{
	margin-bottom: -18px;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

p, .p, ul, ol, hr, table, form, pre,
h1, .alpha, h2, .beta {
	margin-bottom: 8px;
}
h1, .alpha {
	display: block;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 90px;
	font-weight: 400;
	line-height: 1;
	padding-left: 12px;
	letter-spacing: 3px;
}
h2, .beta {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-shadow: 0px 0px 6px #000;
}
h4 {
	color: #ffffff;
	margin-bottom: 10px;
	margin-left: 226px;
	margin-top: -100px;
	text-shadow: 1px 1px 8px #000;
	width: 40px;
	font-size: 90px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 3px;
	opacity:0;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
h4:hover {
	opacity:1.0;
}
a:link { 
	text-decoration: none;
	color: #ffffff;
}
a:visited { 
	text-decoration: none;
	color: #ffffff;
}