{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:css/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "parserOpts": {
        "plugins": ["jsx", "css"]
      }
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "indent": [
      "error",
      2
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}