{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "indent": [
      "error",
      2
    ]
  }
}