!!!
%html
  %head
    %title bryce.io
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "bryce,dorn,brycedorn,bryce.io,bryce dorn", name: "keywords"}/
    %meta{content: "Bryce Dorn", name: "author"}/
    %meta{content: "http://bryce.io", property: "og:url"}/
    %meta{content: "bryce.io", property: "og:title"}/
    %link{href: "assets/img/favicon.ico", rel: "shortcut icon"}/
    %link{href: "assets/css/styles.css", rel: "stylesheet", type: "text/css"}/
  %body
