body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

body {
  background: url('src/origamirepeat.jpg') repeat;
  text-align: center;
  color: #cf8464;
  height: 100%;
}

h1 {
  font-family: American Typewriter;
  font-size: 92px;
  font-weight: lighter;
  text-shadow: 0 3px #777;
  padding-top: 20px;
}
h2 {
  font-family: American Typewriter;
  margin-top: -60px;
  font-size: 74px;
  text-shadow: 0 2px #777;
  font-weight: lighter;
}

#container {
  background: url('src/case.jpg');
  background-position: center top;
  margin: 0 auto;
  width: 810px;
  height: 1126px;
}

#banner {
  background: url('src/banner.png') center no-repeat;
  font-family: American Typewriter;
  width: 100%;
  margin: 0 auto;
  height: 98px;
  font-size: 36px;
  position: absolute;
  color: #e6e6e6;
  text-align: center;
  top:290px;
  line-height: 64px;
}

#lineup {
  width: 775px;
  margin: 100px auto;
  text-align: center;
}
p {
  display: inline;
  padding: 5px;
}
a {
  font-family: Impact;
  text-decoration: none;
  letter-spacing: 1px;
  color: #cf8464;
  text-shadow: 0px 2px #999;
}
a:hover {
  color: #eee;
}

.first {
  font-size: 58px;
}
.second {
  font-size: 50px;
}
.third {
  font-size: 30px;
}
.fourth {
  font-size: 20px;
  text-shadow: 0px 1px #999;
  line-height: 30px;
}