body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

body {
  background: url('src/origamirepeat.jpg') repeat;
  text-align: center;
  color: #cf8464;
  height: 100%;
}

h1 {
  font-family: American Typewriter;
  font-size: 5.7em;
  font-weight: lighter;
  text-shadow: 0 3px #777;
  padding-top: 2%;
}
h2 {
  font-family: American Typewriter;
  margin-top: -8%;
  font-size: 4.6em;
  text-shadow: 0 2px #777;
  font-weight: lighter;
}

#container {
  background: url('src/case.jpg') 50% 0;
  background-size: 100%;
  margin: 0 auto;
  width: 56%;
  height: 1120px;
}

#bannercontainer {
  width: 100%;
  margin: 15% auto;
  position: absolute;
  color: #e6e6e6;
  text-shadow: 0 2px #333;
  text-align: center;
}

#banner {
  width: 100%;
  background: url('src/banner.png') center no-repeat;
  background-size: 67%;
  font-family: American Typewriter;
  height: 98px;
  font-size: 1.4em;
}
#bannertofit {
  width: 60%;
  margin: 0 auto;
}
#bannertofit p {
  display: block;
  position: relative;
  top: 10px;
}

#lineup {
  width: 94%;
  position: relative;
  top: 2%;
  margin: 0 auto;
  text-align: center;
}

p {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-shadow: 0px 1px #777;
}

p.diamond {
  position: relative;
  top: -8%;
}
a {
  font-family: Impact;
  text-decoration: none;
  letter-spacing: 1px;
  color: #cf8464;
  text-shadow: 0px 2px #777;
}
a:hover {
  color: #fff;
}

.first {
  font-size: 58px;
}
.second {
  font-size: 50px;
}
.third {
  text-shadow: 0px 1px #777;
  font-size: 30px;
}
.fourth {
  font-size: 20px;
  text-shadow: 0px 1px #777;
  line-height: 30px;
}

#credit {
  height: 80px;
}

@media only screen and (max-width: 840px) {
   h1,h2 {
      text-shadow: 0 1px 1px #777;
   }
   #bannercontainer{
    margin-top: 13%;
   }
   #bannertofit p {
    top: 30px;
  }
}