html {
	margin: 0; 
	padding: 0;
	background-color: #000;
}
@font-face {
	font-family: tf2big;
	src: url('../font/tf2build.ttf');
}
@font-face {
	font-family: tf2sm;
	src: url('../font/TF2.ttf');
}
@font-face {
	font-family: tf2leg;
	src: url('../font/TF2secondary.ttf');
}
@font-face {
	font-family: oak;
	src: url('../font/BlackoakStd.otf');
}

h1, h2, h3, h4, h5 {
	padding: 0; 
	margin: 0;
	text-decoration: none;
}
h1{
	font-family: oak;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:#fff;
	font-size: 38px;
}
#idinput,#classselect,#go{
	font-size: 15px;
	font-family: tf2leg;
}
a{
	text-decoration: none;
	color: #000;
}
	a:hover{
		text-decoration: none;
		color: #000;
	}
body{
	margin:0;
	padding:0;
}
#container{
	background-image:url('../img/tall.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	margin-left: auto;
	margin-right: auto;
	height: 1600px;
}
#title{
	background-repeat:no-repeat;
	background-position:center bottom;
	text-shadow: #000 2px 1px 6px;
	padding-top: 260px;
}
#bottom p,a{
	font-family: Helvetica;
	font-weight: lighter;
	color: #fff;
}
#bottom{
	opacity: 0.5;
	padding-top: 20px;
}
#inputform{
	padding-top: 30px;
}
#story{
	font-family: tf2leg;
	width: 500px;
	margin:20px auto 0 auto;
	color: #fff;
	text-shadow: #000 0 0 3px;
	font-size: 20px;
	line-height: 60px;
	letter-spacing: 1.5px;
}
#story a{
	font-family: tf2leg;
	font-size: 30px;
	color: gold;
	text-shadow: #000 0 0 5px;
}
