* {
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.background-scaffold {
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  left: -40px;
  overflow: hidden;
  position: absolute;
  top: -11px;
  width: 100%;
  z-index: -100;

  @media (max-width: 1240px) {
    background-size: 44px;
    left: -10px;
    top: -3px;
  }

  @media (max-width: 682px) {
    left: 1px;
    top: -22px;
  }
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 60px;
  width: 100%;
}

.collection {
  &--small {
    height: 376px;
    width: 682px;

    &.mobile {
      height: 576px;
      width: 396px;
    }
  }

  &--medium {
    height: 660px;
    width: 1240px;
  }
}

.links {
  align-items: center;
  background: #333;
  bottom: 0;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  z-index: 99;

  a {
    align-items: center;
    display: flex;

    &:hover svg {
      fill: #fff;
    }
  }

  @media (max-width: 400px) {
    flex-wrap: wrap;
    height: 120px;

    .link {
      margin: 0 20px;
    }
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(42,42,42);
  }

  .links {
    background: #111;
  }

  .gitlab-corner {
    background: #111 !important;
    border-color: #111 !important;
  }
}
