html {
  background: #594F4F;
}

body {
  display: none;
  overflow: hidden;
  font-family: 'Open Sans';
}

#head {
  color: #E5FCC2;
  cursor: default;
  padding-bottom: 40px;
}

#contacttitle, #workstitle {
  font-size: 5em;
  color: #E5FCC2;
  text-align: right;
  line-height: 0;
  padding-right: 2px;
}


h1,h2 {
  font-family: 'Lily Script One';
  text-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  line-height: 0;
}
.full {
  padding: 64px;
  overflow: scroll;
}
.closed {
  cursor: pointer;
}
.menuitem {
  background: #45ADA8;
  display: block;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  border-radius: 20%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-top: 40px;
}
.first {
  background: #9DE0AD;
}
.second {
  background: #45ADA8;
}
.third {
  background: #547980;
}
#left {
  background: #594F4F;
  color: #E5FCC2;
  padding: 10px;
}
#blog {
  background: #9DE0AD;
}
#blog .content {
  display: none;
}
#works {
  background: #45ADA8;
}
#contact {
  background: #547980;
}
#projects {
  width: 100%;
  color: #E5FCC2;
  font-family: 'Roboto';
  padding-top: 40px;
}
#projects li {
  display: inline-block;
  width: 350px;
  margin: 15px;
  text-align: center;
}
#projects li img {
  width: 300px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  border-radius: 12px;
}

/* Tumblr styles */
ol {
  color: #547980;
  list-style: none;
  font-family: 'Roboto';
}
.tumblr_title, .tumblr_link_post a.tumblr_link {
  font-family: 'Lily Script One';
  font-size: 5em;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}
.tumblr_post {
  border-top: rgba(255,255,255,0.5) dashed 4px;
  padding: 40px 0;
}
.tumblr_quote {
  font-style: italic;
  font-size: 2em;
}
.tumblr_source {
  opacity: 0.5;
  text-align: right;
}
ol a {
  color: #45ADA8;
  text-decoration: none;
}
a.tumblr_link {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}

*::selection {
    background: #E5FCC2;
}
*::-webkit-selection {
    background: #E5FCC2;
}

@media screen and (max-width: 767px) {
  .full {
    font-size: 0.8em;
    padding: 0;
    padding-bottom: 100px;
  }
  .content {
    width: 100%;
    padding: 10px 0;
  }
  ol {
    position: relative;
    right: 14px;
  }
  .content img {
    width: 100%;
  }
  #workstitle, #contacttitle {
    font-size: 3em;
    padding-right: 10px;
  }
  #projects li {
    width: 200px;
    margin: 5px;
  }
  #projects li img {
    width: 180px;
    border-radius: 6px;
  }
}
