html {
  background: #556270;
}

body {
  display: none;
  overflow: hidden;
  font-family: 'Open Sans';
  position: relative;
  right: 0%;
  width: 100%;
}
#contacttitle, #workstitle {
  font-size: 5em;
  color: #fafafa;
  text-align: right;
  line-height: 0;
  padding-right: 2px;
}
#workstitle {
  color: #fafafa;
}

h1,h2 {
  font-family: 'Carter One';
  text-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  line-height: 0;
}
.full {
  padding: 64px;
  overflow: scroll;
}
.closed {
  cursor: pointer;
}
.menuitem {
  background: #C7F464;
  display: block;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  border-radius: 20%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 30px auto 0 auto;
}
.first {
  background: #4ECDC4;
}
.second {
  background: #C7F464;
}
.third {
  background: #FF6B6B;
}
#left {
  display: block;
  background: #556270;
  color: #fafafa;
  padding: 4px;
}
#blog {
  background: #4ECDC4;
}
#blog .content {
  display: none;
  font-size: 1.4em;
}
#blog img {
  width: 100%;
}
#works {
  background: #C7F464;
}
#contact {
  text-align: right;
  color: #fafafa;
  background: #FF6B6B;
}
#contact h2 {
  padding: 4px 0;
}
#contact a {
  color: #fafafa;
  text-decoration: none;
}
#projects {
  width: 100%;
  color: #fafafa;
  font-family: 'Lato';
  padding-bottom: 40px;
}
#projects h2 {
  font-size: 3em;
}
#projects li {
  color: #556270;
  display: inline-block;
  width: 80%;
  margin: 15px;
  text-align: center;
  padding: 20px 0;
  /*border-bottom: rgba(85,98,112,0.5) dashed 4px;*/
}
#projects li img {
  width: 100%;
  box-shadow: 0px 1px 20px rgba(85,98,112,0.35);
  border-radius: 12px;
}

/* Tumblr styles */
ol {
  margin: 0;
  padding: 0;
  color: #556270;
  list-style: none;
  font-family: 'Lato';
}
.tumblr_title, .tumblr_link_post a.tumblr_link {
  font-family: 'Carter One';
  font-size: 3em;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}
.tumblr_post {
  border-bottom: rgba(255,255,255,0.5) dashed 4px;
  padding: 30px 0;
}
.tumblr_quote {
  font-style: italic;
  font-size: 2em;
}
.tumblr_source {
  text-align: right;
}
ol a {
  color: #C7F464;
  text-decoration: none;
}
a.tumblr_link {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #left {
    display: none;
  }
  body {
    position: relative;
    right: 9%;
    width: 109%;
  }
  .full {
    font-size: 0.8em;
    padding: 10px;
    padding-bottom: 100px;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
  }
  .tumblr_title {
    font-size: 3em;
  }
  ol {
    position: relative;
    padding: 14px;
    /*right: 14px;*/
  }
  .content img {
    width: 100%;
  }
  #workstitle, #contacttitle {
    font-size: 3em;
    padding-right: 10px;
  }
  #projects h2 {
    font-size: 2em;
  }
  #projects li img {
    border-radius: 6px;
  }
}
