html {
	background: #4B4B55
}
body {
	display: none;
	overflow: hidden;
	font-family: 'Open Sans';
	position: relative;
	right: 0%;
	width: 100%
}
#contacttitle, #workstitle {
	cursor: default;
	font-size: 5em;
	color: #4B4B55;
	text-align: right;
	line-height: 0;
	padding-right: 2px
}
#workstitle {
	color: #4B4B55
}
h1, h2 {
	font-family: 'Lobster';
	line-height: 0
}
a:hover{
	text-decoration: underline;
}
.full {
	padding: 20px 64px;
	overflow: scroll
}
.closed {
	cursor: pointer
}
.menuitem {
	background: #FB9C5A;
	display: block;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 50% 0;
	cursor: pointer;
	width: 60px;
	height: 60px;
	margin: 30px auto 0 auto
}
.first {
	background: #FCC755
}
.second {
	background: #FB9C5A
}
.third {
	background: #FF516C
}
#left {
	display: block;
	background: #4B4B55;
	color: #4B4B55;
	padding: 4px
}
#blog {
	background: #FCC755
}
#blog .content {
	display: none;
	font-size: 1.4em
}
#blog img {
	margin-left: 50px
}
#works {
	background: #FB9C5A
}
#contact {
	text-align: right;
	color: #4B4B55;
	background: #FF516C
}
#contact h2 {
	padding: 4px 0
}
#contact a {
	color: #4B4B55;
	text-decoration: none
}
#projects {
	color: #4B4B55;
	font-family: 'Glegoo';
	padding-bottom: 40px
}
#projects h2 {
	font-size: 3em
}
#projects li {
	color: #4B4B55;
	display: inline-block;
	width: 80%;
	margin: 15px;
	text-align: center;
	padding: 20px 0
}
#projects li img {
	width: 80%;
	box-shadow: 0px 1px 20px rgba(85, 98, 112, 0.35);
	border-radius: 12px
}
ol {
	margin: 0;
	padding: 0;
	color: #4B4B55;
	list-style: none;
	font-family: 'Glegoo'
}
.tumblr_title, .tumblr_link_post a.tumblr_link {
	font-family: 'Lobster';
	font-size: 3em;
	color: #4B4B55;
}
.tumblr_post {
	border-bottom: rgba(255, 255, 255, 0.5) dashed 4px;
	padding: 20px 0
}
.tumblr_quote {
	font-style: italic;
	font-size: 2em
}
.tumblr_source {
	text-align: right
}
ol a {
	color: #F4324A;
	text-decoration: none
}
a.tumblr_link {
	color: #4B4B55;
	font-size: 2em;
	text-decoration: none
}
@media screen and (max-width:767px) {
	#left {
		display: none
	}
	body {
		position: relative;
		right: 9%;
		width: 109%
	}
	.full {
		font-size: 0.8em;
		padding: 10px;
		padding-bottom: 100px;
		overflow-x: hidden
	}
	.content {
		width: 100%;
		padding: 10px 0;
		font-size: 1em
	}
	.tumblr_title {
		font-size: 2em
	}
	ol {
		position: relative;
		padding: 14px
	}
	#blog img {
		margin: 0
	}
	.content img {
		width: 100%
	}
	#workstitle, #contacttitle {
		cursor: default;
		font-size: 3em;
		padding-right: 10px
	}
	#projects h2 {
		font-size: 2em
	}
	#projects li img {
		border-radius: 6px
	}
}
