.cube-outer {
	perspective: 400px;

	--bg-color: #fff;
	--fade-color: #efefef;
	--face-color: #444;

	position: absolute;
	left: var(--x-pos);
	top: var(--y-pos);
}
.cube {
	width: var(--cube-width);
	height: var(--cube-width);
	transform-style: preserve-3d;
	transform: translateZ(calc(-1 * var(--cube-width) / 2));
	transition: transform var(--transition-dur) ease-out;
}
.wrap-x-start {
	transform: translateZ(calc(-1 * var(--cube-width) / 2)) rotateY(0deg);
}
.wrap-x-mid {
	transform: translateZ(calc(-1 * var(--cube-width) / 2)) rotateY(-90deg);
}
.wrap-x-end {
	transform: translateZ(calc(-1 * var(--cube-width) / 2)) rotateY(-180deg);
}
.wrap-y-start {
	transform: translateZ(calc(-1 * var(--cube-width) / 2)) rotateX(90deg);
}
.wrap-y-mid {
	transform: translateZ(calc(-1 * var(--cube-width) / 2)) rotateY(0deg);
}
.wrap-y-end {
	transform: translateZ(calc(-1 * var(--cube-width) / 2)) rotateX(-90deg);
}
.cube .face {
	position: absolute;
	width: var(--cube-width);
	height: var(--cube-width);
	line-height: var(--cube-width);
	text-align: center;
}
.x-start {
	transform: rotateY(0deg) translateZ(calc(var(--cube-width) / 2));
}
.x-mid {
	transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 2));
}
.x-end {
	transform: rotateY(180deg) translateZ(calc(var(--cube-width) / 2));
}
.y-start {
	transform: rotateX(-90deg) translateZ(calc(var(--cube-width) / 2));
}
.y-mid {
	transform: rotateY(0deg) translateZ(calc(var(--cube-width) / 2));
}
.y-end {
	transform: rotateX(90deg) translateZ(calc(var(--cube-width) / 2));
}
.x-mid,
.y-mid {
	background: var(--face-color);
}
.x-start,
.y-start,
.x-end,
.y-end {
	background: var(--fade-color);
}
.x-start.neg,
.y-start.neg,
.x-end.pos,
.y-end.pos {
	animation: fadeOut var(--transition-dur) ease-out;
	animation-delay: 2s;
}
.x-end.neg,
.y-end.neg,
.x-start.pos,
.y-start.pos {
	animation: fadeInOut calc(2 * var(--transition-dur)) ease-out;
}
@keyframes fadeInOut {
	0% {
		background: var(--bg-color);
	}
	50% {
		background: var(--fade-color);
	}
	100% {
		background: var(--bg-color);
	}
}
@keyframes fadeOut {
	0% {
		background: var(--fade-color);
	}
	100% {
		background: var(--bg-color);
	}
}
/* 
@media (prefers-color-scheme: dark) {
	.cube-outer {
		--bg-color: #000;
		--fade-color: #111;
		--face-color: #ccc;
	}
} */
