*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #787878;
	color: #fafafa;
	text-align: center;
}

.menu {
	margin: 0 auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-filter: url("#goo");
}

.menu-wrapper {
	position: absolute;
	left: 50%;
	bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
	background: #ccc;
	color: #fafafa;
	border-radius: 50%;
	border: none;
	outline: none;
	position: relative;
	text-align: center;
}

.menu-toggle-button {
	cursor: pointer;
	background: none;
	position: absolute;
}

.menu-items {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.menu-item-bounce {
	position: absolute;
	top: 0;
	left: 0;
}

.menu-item-button {
	position: absolute;
	top: 0px;
	left: 0px;
}

.menu-item-icon, .menu-toggle-icon {
	position: relative;
}
