*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #FAFAFA;
	color: #555;
	text-align: center;
}

.menu {
	margin: 0 auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-filter: url("#g");
}

.menu-wrapper {
	position: absolute;
	left: 50%;
	bottom: 0;
}

.menu-items {
	opacity: 0;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.menu-toggle-button, .menu-item-button {
	background: #555;
	color: #FAFAFA;
	text-decoration: none;
	border-radius: 50%;
	border: none;
	outline: none;
	position: absolute;
	text-align: center;
}

.menu-toggle-button {
	cursor: pointer;
	background: none;
	top: -4px;
}

.menu-item-button { 
	top: 0; 
	left: 0; 
}

.menu-item-icon, .menu-toggle-icon {  
	opacity: 0;
}

.menu-item-icon, .menu-item-text {
	position: relative;
	top: -4px;
}

.menu-item-icon, .menu-toggle-icon, .menu-item-button-content {
	position: relative;
}

.menu-item-text {
	opacity: 0;
	font-family: 'Helvetica';
	font-size: 0.2em;
	line-height: 0;
	margin: 0;
}