*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #FAFAFA;
	color: #787878;
	text-align: center;
}

.castle {
	font-family: monospace;
	text-align: left;
}

.menu {
	margin: 0 auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-filter: url("#g");
}

.menu-wrapper {
	position: absolute;
	left: 50%;
	bottom: 0;
}

.menu-items {
	opacity: 0;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.menu-toggle-button, .menu-item-button {
	background: #787878;
	color: #FAFAFA;
	border-radius: 50%;
	border: none;
	outline: none;
	position: absolute;
	text-align: center;
}

.menu-toggle-button {
	cursor: pointer;
	background: none;
}

.menu-item-button { top: 0; left: 0; }
.menu-item-icon, .menu-toggle-icon { position: relative; opacity: 0; }
