html {
background: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1, h2 {
color: #fff;
text-decoration: none;
}
	h1 {
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 1px;
	margin: 6% 0 8% 8%;
	}
	h2 {

	background: #fff;
	color: #000;
	font-size: 80px;
	font-weight: 150;
	text-align: right;
	margin: 2% 4% 10% 4%;
	padding: 2%;
	padding-right: 4%;
	}
		a {
			text-decoration: none;
		}
		img {
			float: left;
			margin-left: 14%;
			margin-top: 3%;
		}
		p {
			color: #fff;
			font-weight: lighter;
			font-size: 12px;
		}
footer {
	padding-bottom: 10px;
	text-align: center;
}