/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	GENERAL CSS STYLING

	Not subject to copywrite, feel
	free to use this styling for
	your own website.

	Almost everything can be found
	with a bit of searching, so have
	at it!

	~bryce

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

html {
margin: 0; 
padding: 0;
border-top: #AAC5D0 solid 20px;
background: #fff url('img/grey.png') repeat scroll left top;
animation-delay: 4s;
	-moz-animation-delay: 4s;
	-webkit-animation-delay: 4s;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5 {
padding: 0; 
margin: 0;
text-decoration: none;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
}

	h1 {
	color: #555;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 30px;
	text-shadow: #bbb 1px 1px 4px;
	}
	#blurb {
	color: #555;
	font-size: 10px;
	margin-top: 1px;
	letter-spacing: 1px;
	float:left;
	margin-left: 2px;
	}
	h2 {
	font-size: 85px;
	line-height: 26px;
	letter-spacing: 0px;
	font-weight: 100;
	color: #333;
	text-shadow: #bbb 2px 2px 6px;
	}
	h3 {
	font-size: 13px;
	font-weight: normal;
	padding-top: 10px;
	letter-spacing: 1px;
	}
	h4 {
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 2px;
	color: #404040;
	margin-bottom: 10px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	}
	h5 {
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 14px;
	margin-top: 3px;
	color: #333;
	}
	

p { 
color:#333;
font-size: 14px; 
line-height: 21px;
font-weight: normal;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

a {
text-decoration: none;
color: #000;
padding: 0;
margin: 0;
cursor:pointer;
}
	
	p a { 
	color: #000;
	opacity: 1;
	}

	p a:hover { 
	opacity: .7;
	}

ul{
list-style-type: none;
padding: 0;
margin: 0;
text-align: center;
}

img {
border: none;
width: 115px;
height: 115px;
}

#content {
display: block;
margin-left: 50px;
position: absolute;
}

	#content a {
	color: #AAC5D0;} 

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Header

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#container {
padding-left: 10%;
width: 90%;
margin: 4% auto 0 auto;
}

#placehold{
	float:left;
	margin-top: 20%;
	width:100%;
}

#nametag {
position: relative; 
z-index: 1000;
margin: 50px 0 20px 50px;
width: 400px;
cursor: pointer;
-webkit-transition: .3s;
-moz-transition: .3s;
}

	#nametag:hover {
	-webkit-transform: translate(0,10px);
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	}
	
		#nametag img { 
		-webkit-transition: .3s;
		-moz-transition: .3s;
		float: left;
		margin-right: 20px; 
		cursor: pointer;
		box-shadow: 0px 0px 0 4px #AAC5D0;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		}
		
		#nametag img:hover { 
		transform:rotate(20deg);
		-ms-transform:rotate(20deg); /* IE 9 */
		-moz-transform:rotate(20deg); /* Firefox */
		-webkit-transform:rotate(20deg); /* Safari and Chrome */
		-o-transform:rotate(20deg); /* Opera */
		}

#header {
height: 110px;
padding-top: 10%;
}

#menu {
position: absolute;
left: 50%; 
top: 424px;
height: 300px;
margin-left: 420px;
z-index: 1000;
}
	
	#menu li {
	color: #333;
	background: #AAC5D0;
	width: 135px;
	height: 33px;
	margin-bottom: 15px;
	display: block;
	opacity: .8;
	-webkit-box-shadow: 1px 1px 4px #888;
		-transition: .3s;
		-webkit-transition: .3s;
		-moz-transition: .3s;
	}

	#menu h3:hover,#menu li:hover {
	opacity: 1;
	}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Footer

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#footer {
bottom:-50%;
position: absolute;
margin-left: -12%;
width: 101%;
height: 35%;
background: #AAC5D0;
text-align: center;
padding: 20px 0 0 0;
border-bottom: #404040 solid 8px;
border-top: #aaa solid 1px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
box-shadow: 0px 0px 20px #888;
}

#menu-wrapper { 
margin: 0 auto;
height: 200px; 
width: 1200px;
}
	.footermenus {
	width: 330px;
	float: left;
	text-align: left;
	}
	
	#more li, #music li, #inspiration li {
	display:block;
	text-transform: uppercase;
	width: 320px;
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	margin-left: 75px;
	}
	
		#more a, #music a, #inspiration a {
		padding-left: 2px;
		color: #444;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		}
		
		#more li a:hover, #music li a:hover, #inspiration li a:hover {
		padding-left: 10px;
		}

#left {
clear: both;
float: left; 
width: 385px;
margin-right: 80px;
}
#left #mini {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	width:20px;
	margin-left: 50%;
} 
#right #mini {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	width:20px;
	margin-left: 30%;
}
#right {
width:400px;
display: block;
float: left;
}
#right #mini img, #left #mini img {
	height: 64px;
	width: 64px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
#right #mini p {
	margin-left: -38px;
}
#left #mini p {
	margin-left: -12px;
}
#contact #left,#contact #right {
	margin-top: 28%;
}
#right #mini img:hover, #left #mini img:hover{
	opacity: 0.2;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Exp

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#exp p {
float: left;
font-size: 28px;
text-transform: uppercase;
letter-spacing: 1px;
color: #AAC5D0;
padding-left: 42px;
font-weight: normal;
text-shadow: #666 0px 1px 1px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
#exp p:hover{
	padding-left: 52px;
}

.resume { 
margin:40px 0 40px 0;
}

	.company {
	color: #404040;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 1px;
	margin-bottom: 8px;
	}
	
	.location {
	font-size: 10px;
	text-transform: uppercase; 
	letter-spacing: 1px;
	color: #444;
	}
	
	.position { 
	font-style: italic;
	margin: 16px 0;
	}
	
	.detail { 
	font-size: 14px; 
	margin: 10px 0 38px 0;
	line-height: 20px;
	color: #444;
	}
	
	.skills { 
	font-size: 13px;
	margin-top: -10px;
	color: #444;
	}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Panels

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

.panel{
	position: absolute;
	opacity: 0;
	height:0%;
	padding-top: 400px;
	overflow: hidden;
	z-index:3;
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: .6s ease-in-out;
}
.panel:target{
	padding-top: 0px;
	opacity: 1;
	height:100%;	
}

#about:target ~ #header #menu #link-about,
#home:target ~ #header #menu #link-home,
#projects:target ~ #header #menu #link-projects,
#contact:target ~ #header #menu #link-contact{
	background: #000;
	color: #fff;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Portrait

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

.face img {
	box-shadow: 0px 0px 0 8px #AAC5D0;
	background: rgba(0,255,255, 0.5);  
	width: 400px;
	height: 400px;
	margin-left: 8px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Fade-in & fade-out

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.8s;
-moz-animation-delay:1.8s;
animation-delay: 1.8s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.1s;
-moz-animation-delay: 2.1s;
animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
 
.fade-out {
    opacity:1;
    -webkit-animation:fadeOut ease-in 1;
    -moz-animation:fadeOut ease-in 1;
    animation:fadeOut ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    animation-duration:3s;
}
 
.fade-out.one {
-webkit-animation-delay: 2.8s;
-moz-animation-delay: 2.8s;
animation-delay: 2.8s;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	CSS image slider

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#sliderFrame {position:relative;width:400px;} /*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/
        
#slider {
    width:400px;height:220px;/* Make it the same size as your images */
	position:relative;
    box-shadow: 0px 1px 5px #999999;
}
#slider img {
	border:none;
	display:none;
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:30px;
	padding:0;
	left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
div.mc-caption-bg {
	background-color:#111;
}
div.mc-caption {
	font: 14px/20px Arial;
	color:#eee;
	z-index:4;
	padding:4px 6px;
	text-align:left;
}

/* --------- Others ------- */
#slider 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}
