/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	GENERAL CSS STYLING

	Not subject to copywrite, feel
	free to use this styling for
	your own website.

	Almost everything can be found
	with a bit of searching, so have
	at it!

	~bryce

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

html {
	margin: 0; 
	padding: 0;
	background: #fff url('img/grey.png') repeat scroll left top;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
	padding: 0; 
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-webkit-font-smoothing: antialiased;
}

h1 {
	color: #333;
	opacity: 0.7;
	font-weight: normal;
	text-shadow: #666 0px 1px 1px;
	font-size: 28px;
	letter-spacing: 1px;
	padding-top: 20px;
	padding-bottom: 6px;
}
	h1 img {
			width:24px;
			height: 24px;
			margin-right: 6px;
			opacity: 0.7;
			margin-top: -4px;
	}
	#blurb {
	color: #555;
	font-size: 10px;
	margin-top: 1px;
	letter-spacing: 1px;
	float:left;
	margin-left: 2px;
}
h2 {
	text-align: center;
	font-size: 85px;
	line-height: 26px;
	letter-spacing: 0px;
	font-weight: 100;
	color: #333;
	text-shadow: #bbb 2px 2px 6px;
}
h3 {
	font-size: 13px;
	font-weight: normal;
	padding-top: 10px;
	letter-spacing: 1px;
}
h5 {
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 14px;
	margin-top: 3px;
	color: #333;
}
	

p { 
	color:#333;
	font-size: 14px; 
	line-height: 21px;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: #000;
	padding: 0;
	margin: 0;
	cursor:pointer;
}
	
	p a { 
		color: #333;
	}

	p a:hover { 
		opacity: 0.4;
	}

ul{
	text-align: center;
}
img {
	border: none;
	width: 115px;
	height: 115px;
}

#topborder {
	background: -webkit-linear-gradient(right, rgba(3,22,52,0.4) 20%, rgba(189,21,80,0.4) 100%);
	height:20px;
	width:96%;
	margin-top: -14px;
	margin-left: 2%;
	border: #fff solid 1px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Header

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#container {
	width: 90%;
	margin: 4% auto 0 auto;
}
#header {
	margin-left: -10%;
	margin-right: auto;
	height: 110px;
	padding-top: 6%;
}
#nametag {
	position: relative; 
	z-index: 1;
	margin: 0 auto 2%; auto;
	width: 400px;
	-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
	#nametag:hover {
		transform: translate(0,10px);
		-webkit-transform: translate(0,10px);
		-moz-transform:translate(0,10px);
		-webkit-backface-visibility: hidden;
	}
		#nametag img { 
			z-index: 0;
			float: left;
			margin-right: 20px; 
			border: #ccc solid 1px;
			box-shadow: 0px 0px 4px #888;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
		}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Portrait

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

.face img {
	border: #fff solid 1px;
	box-shadow: 0px 0px 8px #888;
	width: 400px;
	height: 400px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: .3s ease-in-out;
}
.face img:hover{
	box-shadow: 0px 0px 20px #888;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Menu

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#menu {
	position: absolute;
	bottom: -27%;
	margin-bottom: 10px;
	left:3%;
	z-index: 0;
	width: 100%;
}

	#menu ul {
		padding: 0;
		list-style-type: none;
	}

	#menu li {
		color: #333;
		width: 20%;
		height: 34px;
		margin-bottom: 15px;
		opacity: .8;
		-webkit-box-shadow: 1px 1px 4px #888;
		box-shadow: 1px 1px 4px #888;
			-transition: .3s;
			-webkit-transition: .3s;
			-moz-transition: .3s;
		border: #fff solid 1px;
		float: left;
	}
	#menu ul li {
		margin-right: 1.8%;
		margin-left: 1.8%;
	}

	#menu li:hover {
	opacity: 1;
	-webkit-box-shadow: 2px 2px 6px #888;
	box-shadow: 2px 2px 6px #888;
	}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Alignment

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/		

#left {
clear: both;
float: left; 
width: 30%;
margin-left: 10%;
}
#right {
text-align: right;
width:30%;
display: block;
float: right;
margin-right: 20%;
}
#mid {
margin-top: 4%;
text-align: center;
margin-left: -10%;
margin-right: auto;
}
#mid h1 {
	text-transform: lowercase;
	font-weight: lighter;
	margin-bottom: 80px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Exp

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#exp p {
text-align: center;
margin-left: -10%;
font-size: 28px;
text-transform: uppercase;
letter-spacing: 1px;
color: #333;
opacity: 0.7;
font-weight: normal;
text-shadow: #666 0px 1px 1px;
-transition:ease-out .3s ;
-webkit-transition:ease-out .3s;
-moz-transition:ease-out .3s;
margin-bottom: 10px;
margin-top: -20px;
}
#exp p:hover{
	padding-top: 10px;
}

.resume { 
	margin:20px 0 40px 0;
}

	.company {
		color: #404040;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 25px;
		letter-spacing: 1px;
		margin-bottom: 8px;
	}
	
	.location {
		font-size: 10px;
		text-transform: uppercase; 
		letter-spacing: 1px;
		color: #444;
	}
	
	.position { 
		font-style: italic;
		margin: 16px 0;
	}
	
	.detail { 
		font-size: 14px; 
		margin: 10px 0 38px 0;
		line-height: 20px;
		color: #444;
	}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Footer

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#footer {
	z-index: 50;
	bottom:-64%;
	position: absolute;
	width: 95%;
	margin-left: 2%;
	height: 35%;
	background: -webkit-linear-gradient(right, rgba(3,22,52,0.4) 20%, rgba(189,21,80,0.4) 100%);
	padding: 20px 0 0 0;
	border: #fff solid 1px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	box-shadow: 0px 0px 20px #888;
}
h4 {
	opacity: 0.7;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 2px;
	color: #fff;
	margin-bottom: 10px;
}

#menu-wrapper { 
	margin-left: auto;
	margin-right: auto;
	height: 200px; 
	width: 100%;
}
	.footermenus {
		width: 29%;
		float: left;
		text-align: left;
	}
	
	#more li {
		display:block;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 12px;
		letter-spacing: 1px;
		margin-left: 20%;
		margin-right: 0;
	}
	
		#more a {
			padding-left: 10px;
			opacity: 0.9;
			color: #eee;
			font-weight: lighter;
			-transition: 0.2s;
			-webkit-transition: 0.2s;
			-moz-transition: 0.2s;
		}
		
		#more li a:hover {
			padding-left: 16px;
		}
		#more li img {
			text-align: center;
			width:22px;
			height:22px;
			display: inline;
			padding-right: 8px;
			margin-top: -1px;
			opacity: 0.6;
		}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Panels

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

.panel{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 80%;
	top: 26%;
	position: absolute;
	opacity: 0;
	height: 80%;
	padding-top: 0px;
	padding-bottom: 80px;
	overflow: hidden;
	z-index:500;
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: .6s ease-in-out;
}
.panel:target{
	z-index: 1000;
	opacity: 1;
}
#content {
	display: block;
	position: absolute;
	padding-bottom: 100px;
}


/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	Fade-in & fade-out

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.8s;
-moz-animation-delay:1.8s;
animation-delay: 1.8s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.1s;
-moz-animation-delay: 2.1s;
animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
 
.fade-out {
    opacity:1;
    -webkit-animation:fadeOut ease-in 1;
    -moz-animation:fadeOut ease-in 1;
    animation:fadeOut ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    animation-duration:3s;
}
 
.fade-out.one {
-webkit-animation-delay: 2.8s;
-moz-animation-delay: 2.8s;
animation-delay: 2.8s;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

	CSS image slider

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#sliderFrame {position:relative;width:400px;} /*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/
        
#slider {
    width:400px;height:250px;/* Make it the same size as your images */
	position:relative;
    box-shadow: 0px 0px 6px #888;
    border: #fff solid 1px;
}
#slider img {
	border: none;
	display:none;
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:28px;
	left:10px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
div.mc-caption-bg {
}
div.mc-caption {
	font: 14px/20px Arial;
	color:#eee;
	z-index:4;
	text-align:left;
}

/* --------- Others ------- */
#slider 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}
